<div class="span6">
  <table class="table table-striped table-condensed">
    <thead>
      <tr>
        <th style="min-width: 300px;">Lamp ID</th>
        <th style="min-width: 120px;">Name</th>
        <th style="min-width: 120px;">Status</th>
        <th style="min-width: 120px;">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="lamp in lamps">
        <td>{{ lamp._id }}</td>
        <td>{{ lamp.lampname }}</td>
        <td>{{ lamp.status }}</td>
        <td><input type="radio" value="on"> on <input type="radio" value="off"> off</td>
      </tr>
    </tbody>
  </table>
</div>